#contacto form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 77%;
  margin: auto;
}
input[type="text"],input[type="email"]{
  width: 49%;
  margin-bottom: 40px;
  padding: 18px 0;
  border: 0;
  border-bottom: 2px solid #000;
  font-size: 17px;
}
textarea{
  padding: 18px 0;
  border: 0;
  border-bottom: 2px solid #000;
  font-size: 17px;
  margin-bottom: 40px;
  width: 100%;
}
#contacto input[type="submit"]{
  margin: auto;
}
.pie{
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
.pie img{
  width: 28px;
  vertical-align: middle;
  margin-right: 20px;
}
footer{
  background:#2f2f2f;
  padding: 40px 0;
  text-align: center;
  margin-top: 65px;
}
footer img{
  margin:0 40px;
  transform: rotate(0);
  transition: 0.4s;
}
footer img:hover{
  transform: rotate(360deg);
  transition: 0.4s;
}
footer .contenedor{
  display: flex;
  justify-content: center;
  flex-direction: column;/*se posicionan uno debajo de otro*/
}
footer p{
  color: #fff;
  margin-top: 50px;
}
.owl-nav{
    display: flex;
    justify-content: center;
}
button.owl-prev {
    font-size: 40px !important;
}
button.owl-next {
    font-size: 40px !important;
}
span {
    color: #846e95;
}
contenedorservicios{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #000;
  font-weight: 500;
}
.contenedorservicios h4{
  color: #fff;
}
.servicio{
  width: 24%;
  padding: 34px 30px 38px 30px;
  border-radius: 10px;
  margin-bottom: 40px;
}
.servicio h4{
  font-size: 30px;
  margin: 0;
}
.servicio p{
  margin-bottom: 20px;
  height: 200px;
}
.celeste{
background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(189,66,66,1) 89%);
}