body{
min-height: 100%;
 margin: 0;
 padding: 0;
 background-image:url(../images/animal.jpg);
 background-size: cover;
 background-position: left;
 font-size: 16px;
 color: #1C1C3F;
 font-family: 'McLaren', cursive;
 font-weight: 700;
}

body:before{
    background-color: #6699ff;
    opacity: 1.5;
}
#login-box{
    position: relative;
    margin: 5% auto;
    height: 400px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    width: 600px;
}
.left{
    position: absolute;
    top:0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}
h1{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}
input[type="text"],input[type="password"]{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: 'McLaren', cursive;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}
input[type="button"]{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: #f44336;
    border: none;
    border-radius: 2px;
    color: #eee;
    font-family: 'McLaren', cursive;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
}
input[type="button"]:hover,input[type="button"]:focus{
 background: #ff5722;
 transition: 0.2s ease;
}
.right{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background: url(../images/animal.jpg);
    background-size: cover;
    background-position: center;
}
.right .signwith{
    display: block;
    margin-bottom: 40px;
    font-size: 20px;
    color: #000;
    text-align: center;
    text-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);
}
button.social{
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color:#fff;
    font-family: 'McLaren', cursive;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}
.facebook{
    background: #32508e;
}
a .a{
    display: inline-block;
}
